문제4
주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오 ('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [18]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

cols = df.select_dtypes(include='object').columns
df = df.drop(cols, axis=1)
df = df.fillna(0)

# cols = df.select_dtypes(exclude='object').columns
# df = df[cols]

df = df.T
print(sum(df.sum() > 3000))
df = df.sum()
print(len(df[df > 3000]))

73
73

문제5
데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [27]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

Q3 = df['views'].quantile(.75)
Q1 = df['views'].quantile(.25)

IQR = Q3 - Q1

cond1 = Q1 - 1.5*IQR
cond2 = Q3 + 1.5*IQR

print(sum(df['views'] < cond1) + sum(df['views'] > cond2))

4

문제6
'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [37]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

# 제거 전의 views 표준편차
std1 = df['views'].std()

# 0 보다 작으면(음수)
cond1 = df['age'] <= 0
# print(df.shape)
df = df[~cond1]
# rint(df.shape)

# 소수점 나이 제거
cond2 = df['age'] == round(df['age'], 0)
df = df[cond2]

# 제거 후의 views 표준편차
std2 = df['views'].std()

print(round(std1+std2, 2))

8420.69